﻿@model Model.NewsDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Создание новости</title>
</head>
<body>
    <form method="post">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div>Имя новости:<div>@Html.TextBoxFor(x => x.Name, new { style = "height: 100px;font-size:20px;" })</div></div>
                <div>Текст новости:<div>@Html.TextBoxFor(x => x.Text, new { style = "height: 100px;font-size:20px;" })</div></div>
                <div>Короткое представление:<div>@Html.TextBoxFor(x => x.ShortText, new { style = "height: 100px;font-size:20px" })</div></div>
                <button type="submit" class="btn btn-primary" style="color:white" name="create" value="creator">Создать</button>
                </div>
            </div>
    </form>
    <div>@Html.ActionLink("Отмена", "Index",null, new { @class = "btn btn-primary", @style = "color:white" })</div>
</body>
</html>

