﻿@model Model.CommentariesDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Создание комментария</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <form method="post">
                <div>Комментарий:<div>@Html.TextBoxFor(x => x.Text, new { style = "height: 100px;font-size:20px;" })</div></div>
                <button class="btn btn-primary" type="submit" style="color:white" name="create" value="creator">Создать</button>
            </form>
            <div>@Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-primary", @style = "color:white" })</div>
            </div>
        </div>
</body>
</html>

