﻿@model PagedList.IPagedList<Model.NewsDto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title style="-moz-border-right-colors:blueviolet">Новостной блог</title>
</head>
<body>
    <div>
        <h2 class="text-center" style="color:slateblue">Новостной блог</h2>
        <div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    @foreach (var b in Model)
                    {
                        <div class="panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">@b.Name</h3>
                            </div>
                            <div class="panel-body">@b.ShortText</div>
                        </div>
                                <div>
                                    @Html.ActionLink("Подробнее", "MoreInformation", new { Id = b.Id }, new { @class = "btn btn-primary btn-sm", @style = "color:white" })
                                    @Html.ActionLink("Удалить новость", "Delete", new { Id = b.Id }, new { @class = "btn btn-primary btn-sm", @style = "color:white" })
                                </div>
                    }
                </div>
            </div>
        </div>
        <div>
            <div>@Html.ActionLink("Создать новость", "Create", null, new { @class = "btn btn-primary btn-sm", @style = "color:white" })</div>
        </div>
    </div>
</body>
</html>
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

