﻿@model Model.NewsDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title style="-moz-border-right-colors:blueviolet">Новостной блог</title>
</head>
<body>
    <h2 class="text-center" style="color:slateblue">Новость</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.Name</h3>
                </div>
                <div class="panel-body">@Model.Text</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                @foreach (var x in Model.CommentariesDto)
                {
                    <div>@x.Text</div>
                            <div>@x.CommentaryDate</div>
                }
            </div>
        </div>
    </div>
    <div>@Html.ActionLink("Написать комментарий", "CreateComment", new { NewsId = Model.Id }, new { @class = "btn btn-primary", @style = "color:white" })</div>
    <div>@Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary", @style = "color:white" })</div>
</body>
</html>
