﻿@using NWS.DAL

@model IEnumerable<EmployeeDetails>
@{
    ViewBag.Title = "Работники и Ордера";
}

@section Scripts {
<script>
    var model = {
        employees: ko.observableArray()
    };

    function sendAjaxRequest(httpMethod, callback, url) {
        $.ajax("/api/values" + (url ? "/" + url : ""), {
            type: httpMethod,
            success: callback
        });
    }

    function GetEmpl() {
        sendAjaxRequest("GET", function (data) {
            model.employees.removeAll();
            for (var i = 0; i < data.length; i++) {
                model.employees.push(data[i]);
            }
        });
    }

    function GetEmployeeWithFilter() {
        var data = {
            EmployeeID: $("#pageNumber").val(),
            OrderID: $("#pageSize").val(),
            City: $("#city").val(),
            Country: $("#country").val()
        };
        $.ajax({
            type: 'POST',
            url: '/api/values',
            data: data,
            success:function(smth){
                model.employees.removeAll();
                for (var i = 0; i < smth.length; i++) {
                    model.employees.push(smth[i]);
                }
            }});
    }
    $(document).ready(function () {
        GetEmpl();
        ko.applyBindings(model);
    });
    </script>
}
@section Body {
    <div id="summary" class="section panel panel-primary">
    <div class="panel-heading">Работники</div>
    <div class="panel-body">
       <div>
           <select id="pageSize" name="pageSize" typeof="text" onchange="GetEmployeeWithFilter()">
               <option value='5' selected="selected" typeof="text">Количество записей на страницу(5)</option>
               <option value='10' typeof="text">10</option>
               <option value='20' typeof="text">20</option>
               <option value='40' typeof="text">40</option>
               <option value='80' typeof="text">80</option>
           </select>
       </div>
        <div>
            <input type="number" id="pageNumber" name="pageNumber" onchange="GetEmployeeWithFilter()" />
        </div>
        <table class="table_dark">
            <thead>
                <tr>
                    <th>Номер сотрудника</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Дата рождения</th>
                    <th>
                    <select id="city" name="city" typeof="text" onchange="GetEmployeeWithFilter()" >
                        <option value='' selected="selected" typeof="text">Город</option>
                        <option value='London' typeof="text">London</option>
                        <option value='Seattle' typeof="text">Seattle</option>
                        <option value='Tacoma' typeof="text">Tacoma</option>
                        <option value='Kirkland' typeof="text">Kirkland</option>
                        <option value='Redmond' typeof="text">Redmond</option>
                    </select>
                    </th>
                    <th>
                        <select id="country" name="country" typeof="text" onchange="GetEmployeeWithFilter()">
                            <option value='' selected="selected" typeof="text">Страна</option>
                            <option value='UK' typeof="text">UK</option>
                            <option value='USA' typeof="text">USA</option>
                        </select>
                    </th>
                    <th>Номер ордера</th>
                    <th>Дата создания ордера</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: model.employees">
                <tr>
                    <th data-bind="text: EmployeeID"></th>
                    <th data-bind="text: FirstName"></th>
                    <th data-bind="text: LastName"></th>
                    <th data-bind="text: BirthDate"></th>
                    <th data-bind="text: City"></th>
                    <th data-bind="text: Country"></th>
                    <th data-bind="text: OrderID"></th>
                    <th data-bind="text: OrderDate"></th>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
}
