﻿@model IEnumerable<NWS.DAL.EmployeeDetails>



<div class="panel-heading">Работники</div>
<div class="panel-body">
    <table class="table_dark">
        <thead>
            <tr>
                <th>Номер сотрудника</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Дата рождения</th>
                <th>Город</th>
                <th>Страна</th>
                <th>Номер ордера</th>
                <th>Дата создания ордера</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.EmployeeID</th>
                    <th>@item.FirstName</th>
                    <th>@item.LastName</th>
                    <th>@item.BirthDate</th>
                    <th>@item.City</th>
                    <th>@item.Country</th>
                    <th>@item.OrderID</th>
                    <th>@item.OrderDate</th>
                </tr>
            }
        </tbody>
    </table>
</div>